body {
  
    Background-image: url("https://static1.squarespace.com/static/596e6b656a49639b84c00512/t/5ab90f756d2a734262577413/1522077591829/background.jpg?format=2500w");
    /*background-image: url(../Imagenes/fondo1.jpg);*/
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
	display: flex;
    
   /* 
    height: 100vh;
    width: 100%;
    display: flex;
    margin: 0;*/
    
}


main {
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 5px; /* Ajustar según la altura del menú hamburguesa */
}
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

p{
    text-align: center;
}


/*CSS PARA LA PAGINA 1 CARUSEL*/

/*CSS para mostrar la informacion del perfil*/
.profile {
    background-color: rgba(253, 253, 253, 0.993);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .profile h1 {
    margin-bottom: 20px;
  }
  /* Estilos del menú hamburguesa */
  .hamburger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1001;
  }
/*ICONO DE HAMBURGESA*/
.hamburger span {
    display: block;
    width: 35px;
    height: 4px;  /* Reduje la altura de las líneas */
    background-color: #f18826;
    margin: 6px 0;  /* Espaciado entre líneas */
    border-radius: 2px;  /* Bordes redondeados */
    transition: transform 0.3s ease, opacity 0.3s ease;
}
  
  #toggle {
    display: none;
  }
  /*Interior del menu*/
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    
    background-color: #111111;
    width: 250px;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }
  
  .menu ul {
    list-style: none;
    padding: 20px;
  }
  
  .menu ul li {
    margin-bottom: 15px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
  }
  
  #toggle:checked + .hamburger span {
    transform: rotate(45deg);
  }
  
  #toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }
  
  #toggle:checked + .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
  }
  
  #toggle:checked ~ .menu {
    transform: translateX(0);
  }
  

/* Contenedor principal */
#tablon {
    Background-image: url("https://static1.squarespace.com/static/596e6b656a49639b84c00512/t/5ab90f756d2a734262577413/1522077591829/background.jpg?format=2500w");
	width: 1245px;
	max-width: 100%;
	height: 600px; /*Largo de todo*/
	margin: 0 auto;
    justify-content: center;
	padding: 0;
	font-family: 'Open Sans';
	font-size: 0;
	
	overflow: hidden;
	border-radius: 3px;
}

/* Panel izquierdo */
#slider-wrapper {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 800px; /*TAMAÑO DEL SLIDER*/
    
	max-width: 100%;
	margin: 0;
	padding: 0;
}

/* Indicación para pasar el mouse */
#slider-wrapper #hover {
	position: absolute;
	top: 0px;
	right: 15px;
	z-index: 50;
	display: block;
	font-size: 15px;
	color: #FFF;
	transition: 0.9s all ease-in-out;
	opacity: 1;
}

/* Contenedor del slider */
#slider {
	position: relative;
	width: 100%;
	height: 600px; /*Largo del slider principal*/
	overflow: hidden;
}

/* Caoas del slider */
#slider > a {
  	position: absolute;
  	top:0;
 	left:0;
  	width: 100%;
  	min-height: 100%;
  	background: #FFF;
}

#slider > a:before {
	content: '';
	opacity: 0;
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(-50%,0,0);
	transform: translate3d(-50%,0,0);

	background: rgba(0,0,0,0.7);background: -moz-linear-gradient(left, rgba(0,0,0,0.7) 25%, rgba(0,0,0,0) 100%);background: -webkit-gradient(left top, right top, color-stop(25%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0)));background: -webkit-linear-gradient(left, rgba(0,0,0,0.7) 25%, rgba(0,0,0,0) 100%);background: -o-linear-gradient(left, rgba(0,0,0,0.7) 25%, rgba(0,0,0,0) 100%);background: -ms-linear-gradient(left, rgba(0,0,0,0.7) 25%, rgba(0,0,0,0) 100%);background: linear-gradient(to right, rgba(0,0,0,0.7) 25%, rgba(0,0,0,0) 100%);
}

/* Imagen de fondo para las capas */
#slider img {
	width: 100%;
	min-height: 100%;
	position: absolute;
	z-index: 4;
	margin: 0;
	padding: 0;
	border: 0;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	transition: 0.10s all ease-in-out;
	transform: scale(1);
}

/* Contenedor del texto */
#slider div {
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: 0;
}

/* Título de cada capa */
#slider div span {
	position: absolute;
	top: -30px; /*SUBE EL TEXTO DEL TITULO PRINCIPAL */
	left: 10px; /*pone el titulo de los juegos*/
	margin: 0;
	display: block;
	padding-bottom: 20px;
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 400;
	color: #f7f5f3;
	line-height: 55px;
	letter-spacing: -2px;
	text-shadow: 15px 15px 15px rgba(0,0,0,0.7);

	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Párrafo */
#slider div p {
	position: relative;
	bottom: 30px;
    top:-50px;
	padding: 0px 25px;
	left: 0px;
	margin: 0;
	display: block;	
	font-size: 16px;
	color: #FFF;
	text-align: justify;

	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

/* Línea decorativa para el efecto hover */ 
#slider div p:after {
	position: absolute;
	top: -30px;
	left: 25px;
	height: 3px;
	width: 550px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.65s;
	transition: transform 0.65s;
	-webkit-transform: translate3d(110%,0,0);
	transform: translate3d(110%,0,0);
}

#slider > a p, #slider > a:before {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

/* HOVERS para el Slider*/
#slider-wrapper:hover #hover {
	opacity: 0;
}

/*Hace el efecto del zoom al imagen al pasar el mouse*/
#slider-wrapper:hover img {
	transform: scale(1.1);
}

/*Para acercar el texto a la imagen en zoom*/
#slider-wrapper:hover span {
	-webkit-transform: translate3d(0,-220px,0);
	transform: translate3d(0,-220px,0);
}

#slider-wrapper:hover p:after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*Para que el texto se haga opaco y sea visible*/
#slider-wrapper:hover p, #slider-wrapper:hover a:before {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Flechas para ir atrás y hacia adelante */
a.mas, a.menos {
	opacity: 0;
	position: absolute;
	bottom: 300px; /*bajo la flechas*/
	right: 700px; /*distancia entre las flechaas*/
	z-index: 40;
	margin-top: -30px;
	width: 100px;   /*estaba en 20*/
	height: 100px;  /*estaba en 30*/
	text-align: center;
	line-height: 24px;
	font-size: 100px;
	color: white;
	background: rgba(0,0,0,0.4);
	border: 2px solid #FFF;
	text-decoration: none;
	transition: 0.20s all ease-in-out;	
}

a.mas {
	right: 15px;
}

#slider-wrapper:hover a {
	opacity: 1;
	margin-top: 0;
}

/* PANEL IZQUIERDO */
#tablon .right {
	overflow: hidden;
	margin: 0;
	margin-left: 5px;
	width: 440px;
	height: 600px;
	padding: 0;
	display: inline-block;
	color: #FFF;
}

/* Imágenes dentro del panel */
.right img {
	width: 100%;
	min-height: 100%;
	position: absolute;
	z-index: 1;
	margin: 0;
	padding: 0;
	border: 0;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	transition: 0.2s all ease-in-out;
	transform: scale(1);
}

/* Contenedores internos para la parte superior e inferior del panel derecho */
.right #top, .right #bottom {
	width: 400px;
	height: 168px; /*1048 estaba */
	display: block;
}

/* Contenedor superior */
.right #top {
  
	margin-bottom: 4px; /*Margen entre el botom principal*/
	position: relative;
	overflow: hidden;
	height: 300px; /*cotenedor de la tabla*/
	width: 395px;
}

.bottom{
height: 400%;
display: flex;
justify-content: space-between; /* Distribuye los elementos */
}
.up, .down img{
    display: flex;
    justify-content: space-around; /* Centra el contenido horizontalmente */
    flex-grow: 50; /* Permite que el contenido crezca */
    margin: 10px 0; /* Añade espacio entre las secciones */
	height: 200px;
}

/* Sombra del contenedor superior */
.right #top:before {
	content: '';
	opacity: 1;
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

    background: rgba(0,0,0,0);background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 90%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(40%, rgba(0,0,0,0)), color-stop(90%, rgba(0,0,0,0.75)));background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 90%);background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 90%);background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 90%);background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 90%);
}

/* Título del contenedor */
.right #top h2 {
	position: absolute;
	left: 0;
	right: 0;
	height: 100px;
	top: 10px;
	z-index: 5;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 35px;
	line-height: 35px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.right #top h2 span {
	font-weight: 400;
}

/* Contenedor de los links aqui le movi */
.right #top .links {
	width: 380px;
	position: absolute;
    font-size:x-large;
	bottom: 10px;
	left: 10px;
	z-index: 5;
}

.right #top .links a {
	color: #FFF;
	text-decoration: none;
	text-align: left;
    font-size: x-large;
	display: block;
	margin: 0;
	padding: 0;
}


/* Descripción de los links */
.right #top .links p {
	width: 93%;
	margin: 0;	
	padding: 0;
	display: inline-block;
	font-size: 30px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.right #top .links p, .right #top .links span {
	transition: 0.2s all ease-in-out;
}

/* Contenedor inferior */
.right #bottom .up, .right #bottom .down {
	display: block;
	width: 400px;
	height: 98px;
}

/*
.right #bottom .down .up img{
height: 100%;
}*/

/* Links del contenedor inferior */
.right #bottom a {
	display: inline-block;
	width: 198px;
	height: 160px;
	position: relative;
	overflow: hidden;
}

.right #bottom a:before {
	content: '';
	opacity: 1;
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	top: 40%;
	width: 100%;
	height: 100%;

    background: rgba(0,0,0,0);background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 90%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(40%, rgba(0,0,0,0)), color-stop(90%, rgba(0,0,0,0.75)));background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 90%);background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 90%);background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 90%);background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 90%);
}

/* Separaciones de los contenedores */
.right #bottom .up #new, .right #bottom .down #char {
	margin-right: 4px;
}

/* Parte de arriba del contenedor inferior */
.right #bottom .up {
	margin-bottom: 10px;
	height: 130px;
}

/* Texto de cada link */
.right #bottom p {
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	z-index: 5;
	color: #FFF;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	transition: 0.2s all ease-in-out;
}

/* HOVERS DEL PANEL DERECHO */
.right #top:hover > img, .right #bottom a:hover > img {
	transform: scale(1.1);
}

.right #top .links a:hover * {
	color: #FFFF00;
}

.right #bottom a:hover > p {
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
	font-size: 16px;
}

.glitch {
    position:relative;
    justify-content: center;
    text-align: center; /*Para poner el titulo en el centro */
    align-items: center;
   
    font-size: 7em;
    text-shadow: 8px -8px 0px #d37d1b;
    background: repeating-linear-gradient(45deg, #005792, #005792, #005792 1px, #fff 2px, #fff 3px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    color: #f0efee;
    clip: rect(0, 900px, 0, 0);
    overflow: hidden;
}

.glitch::before {
    left: 7px;
    text-shadow: 1px 0 #eeedea;
    animation: glitch-effect 3s infinite linear alternate-reverse;
}

.glitch::after {
    left: 3px;
    text-shadow: -1px 0 #ebe4e4;
    animation: glitch-effect 2s infinite linear alternate-reverse;
}

@keyframes glitch-effect {
    0% {
        clip: rect(10px, 9999px, 48px, 0);
    }
    5% {
        clip: rect(51px, 9999px, 99px, 0);
    }
    10% {
        clip: rect(34px, 9999px, 71px, 0);
    }
    15% {
        clip: rect(75px, 9999px, 74px, 0);
    }
    20% {
        clip: rect(88px, 9999px, 28px, 0);
    }
    25% {
        clip: rect(82px, 9999px, 33px, 0);
    }
    30% {
        clip: rect(57px, 9999px, 73px, 0);
    }
    35% {
        clip: rect(79px, 9999px, 58px, 0);
    }
    40% {
        clip: rect(2px, 9999px, 78px, 0);
    }
    45% {
        clip: rect(7px, 9999px, 3px, 0);
    }
    50% {
        clip: rect(59px, 9999px, 16px, 0);
    }
    55% {
        clip: rect(97px, 9999px, 76px, 0);
    }
    60% {
        clip: rect(57px, 9999px, 43px, 0);
    }
    65% {
        clip: rect(35px, 9999px, 21px, 0);
    }
    70% {
        clip: rect(61px, 9999px, 84px, 0);
    }
    75% {
        clip: rect(54px, 9999px, 100px, 0);
    }
    80% {
        clip: rect(8px, 9999px, 98px, 0);
    }
    85% {
        clip: rect(47px, 9999px, 32px, 0);
    }
    90% {
        clip: rect(13px, 9999px, 5px, 0);
    }
    95% {
        clip: rect(63px, 9999px, 30px, 0);
    }
    100% {
        clip: rect(17px, 9999px, 39px, 0);
    }
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .profile {
        max-width: 300px;
    }

    .hamburger span {
        width: 35px;
    }

    .menu {
        width: 200px;
    }

    #tablon {
        height: auto; /* Permite ajustar el tamaño automáticamente */
        flex-direction: column; /* Ajusta el layout para pantallas más pequeñas */
    }

    #slider-wrapper {
        width: 100%; /* Se ajusta al 100% del contenedor en pantallas pequeñas */
        max-width: 100%;
    }

    #slider div span {
        font-size: 30px; /* Reduce el tamaño de fuente para pantallas más pequeñas */
    }

    .right #top .links a {
        font-size: large; /* Ajusta el tamaño de la fuente */
    }
}

@media (max-width: 480px) {
    .profile {
        max-width: 90%;
    }

    .hamburger {
        top: 10px;
        right: 10px;
    }

    .menu {
        width: 180px;
    }

    #slider div span {
        font-size: 20px;
    }
}